body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    background-color: black;
    font-family: 'Space Mono', monospace;
    color: white;
    box-sizing: border-box;
  }
  div {
    white-space: normal;
  }
  a {
    text-decoration: none;
    color: white;
  }
  .intro {
    background-color: white;
    height: 100vh;
    width: 100%;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
  }
                              .text-container {
                                color: black;
                                text-align: center;
                                width: 80%;
                                transform: scale(1.4);
                                padding: 30vh 0 0 10%;

                              }
                              .top, .bottom {
                                overflow: hidden;
                                line-height: 50px;
                              }
                              .top-text {
                                display: inline-block;
                                font-size: 20px;
                                transform: translateY(-60px);
                                animation-name: textIn;
                                animation-duration: 2s;
                                animation-delay: 1s;
                                animation-fill-mode: forwards;
                              }
                              .bottom-text {
                                display: inline-block;
                                font-size: 40px;
                                transform: translateY(-60px);
                                animation-name: textIn;
                                animation-duration: 2s;
                                animation-delay: 2s;
                                animation-fill-mode: forwards;
                              }
                              .o {
                                font-size: 20px;
                                animation: textIn 2s forwards;
                                display: inline-block;
                              }
                              .o2 {
                                font-size: 40px;
                                animation: textIn 2s forwards;
                                display: inline-block;
                              }

                              @keyframes textIn {
                                  0% {
                                    transform: translateY(-60px);
                                  }
                                  100% {
                                    transform: translateY(0px);
                                  }
                              }
                              @keyframes fadeIn {
                                0% {
                                  filter: brightness(100%);
                                  height: 100vh;
                                }
                                100% {
                                  filter: brightness(50%);
                                  height: 0vh;
                                }
                              }
  .container {
    height: 100vh;
    white-space: nowrap;
  }
  .box-1, .box-2 {
    width: 450vh;
    height: 96vh;
    display: inline-block;
    position: fixed;
    top: 100vh;
    left: 0;
    bottom: 0;
    background-color: black;
    animation-name: fadeInInfinite;
    animation-duration: 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
  }
  @keyframes fadeInInfinite {
    100% {
      top: 2vh;
    }
  }
  .box-1 {
    transform: translateX(0px);
    width: 578vh;
  }
  .box-2 {
    transform: translateX(550vh);
  }
    /* SLIDE 0 STYLES */
    .slide0 {
      width: 95vh;
      height: 100%;
      border-left: .4vh solid white;
      border-right: .4vh solid white;
      padding-left: 3vh;
      padding-right: 3vh;
      overflow: hidden;
      display: inline-block;
    }
                  .slide-0-textbox {
                    text-align: center;
                    position: relative;
                    top: 15%;
                  }
                  .slide-0-textbox .large-text {
                    font-size: 6vh;
                    white-space: pre-wrap;
                  }
                .stickman {
                  height: 3em;
                  width: 1.5em;
                  position: relative;
                  top: 12.5%;
                  left: 50%;
                  margin-left: -0.75em;
                  animation: 0.5s walk-body ease-in infinite;
                }
                .stickman .head {
                  height: 0.75em;
                  width: 0.75em;
                  position: absolute;
                  top: 0;
                  left: 25%;
                  background-color: #fff;
                  border-radius: 100%;
                }
                .stickman .head .eye {
                  height: 0.09375em;
                  width: 0.09375em;
                  position: absolute;
                  top: 32.5%;
                  right: 25%;
                  background: #fff;
                  border-radius: 100%;
                }
                .stickman .head .mouth {
                  height: 0.04688em;
                  width: 0.21429em;
                  position: absolute;
                  bottom: 25%;
                  right: 0;
                  transform: rotate(11.25deg);
                  background-color: #fff;
                }
                .stickman .body {
                  height: 1em;
                  width: 0.09375em;
                  position: absolute;
                  top: 0.75em;
                  left: 50%;
                  margin-left: -0.04688em;
                  background-color: #fff;
                }
                .stickman .body .arm {
                  height: 0.75em;
                  width: 0.09375em;
                  position: absolute;
                  top: 10%;
                  transform: rotate(-45deg);
                  transform-origin: top;
                  background: #fff;
                  animation: 1s walk-arm infinite;
                }
                .stickman .body .arm#left {
                  animation-delay: 0.5s;
                  background: #fff;
                }
                .stickman .body .arm#left::after {
                  animation-delay: 0.5s;
                  background: #fff;
                }
                .stickman .body .arm::after {
                  content: "";
                  height: 0.5em;
                  width: 0.09375em;
                  position: absolute;
                  bottom: 0;
                  transform: rotate(90deg);
                  transform-origin: right bottom;
                  background: #fff;
                  animation: 1s walk-arm-after infinite;
                }
                .stickman .body .leg {
                  height: 0.625em;
                  width: 0.09375em;
                  position: absolute;
                  bottom: -0.625em;
                  transform: rotate(-90deg);
                  transform-origin: top;
                  background: #fff;
                  animation: 1s walk-leg infinite;
                }
                .stickman .body .leg#right {
                  background: #fff;
                  animation-delay: 0.5s;
                }
                .stickman .body .leg#right::after {
                  background: #fff;
                  animation-delay: 0.5s;
                }
                .stickman .body .leg::after {
                  content: "";
                  height: 0.625em;
                  width: 0.09375em;
                  position: absolute;
                  bottom: -0.625em;
                  transform: rotate(112.5deg);
                  transform-origin: top;
                  background: #fff;
                  animation: 1s walk-leg-after infinite;
                }
                @keyframes walk-body {
                  0% {
                    margin-top: -1.6875em;
                    padding-bottom: 0.1875em;
                  }
                  50% {
                    margin-top: -1.5em;
                    padding-bottom: 0;
                  }
                  100% {
                    margin-top: -1.6875em;
                    padding-bottom: 0.1875em;
                  }
                }
                @keyframes walk-arm {
                  0% {
                    transform: rotate(-45deg);
                  }
                  50% {
                    transform: rotate(45deg);
                  }
                  100% {
                    transform: rotate(-45deg);
                  }
                }
                @keyframes walk-arm-after {
                  0% {
                    transform: rotate(67.5deg);
                  }
                  50% {
                    transform: rotate(90deg);
                  }
                  100% {
                    transform: rotate(67.5deg);
                  }
                }
                @keyframes walk-leg {
                  0% {
                    transform: rotate(-90deg);
                  }
                  50% {
                    transform: rotate(45deg);
                  }
                  100% {
                    transform: rotate(-90deg);
                  }
                }
                @keyframes walk-leg-after {
                  0% {
                    transform: rotate(112.5deg);
                  }
                  25% {
                    transform: rotate(0deg);
                  }
                  50% {
                    transform: rotate(55deg);
                  }
                  100% {
                    transform: rotate(112.5deg);
                  }
                }
                .circle {
                  border: 0.1em solid white;
                  width: 50vh;
                  height: 50vh;
                  border-radius: 50%;
                  position: relative;
                  top: 12.5%;
                  left: 50%;
                  margin-left: -10em;
                }
                canvas {
                  z-index: 5;
                  position: relative;
                  top: 12.5vh;
                  left: 50%;
                  margin-left: -10em;
                  border: 2px solid white;
                  height: 50vh;
                  width: 50vh;
                  border-radius: 50%;
                  transition: .5s;
                  animation: rotateCanvas 15s infinite linear;
              }
              @keyframes rotateCanvas {
                100% {
                  transform: rotate(-360deg);
                }
              }
.slide1 {
  width: 145vh;
  height: 100%;
  padding-left: 3vh;
  padding-right: 3vh;
  overflow: hidden;
  display: inline-block;
  border-right: .4vh solid white;
}
                          .pale-text {
                            font-size: 15vh;
                            display: inline-block;
                            width: 45%;
                          }

                          .para1 {
                            font-size: 1.5vh;
                            display: inline-block;
                            background-color: black;
                            transition: .5s;
                            cursor: pointer;
                            color: black;
                            width: 50%;
                            border-top: .4vh solid white;
                          }
                          .para2-container {
                            display: inline-block;
                            width: 20vh;
                            height: 68vh;
                            transform: translateY(-50vh);
                            border-left: .4vh solid white;
                            margin-left: 2vh;
                          }
                          .para2-container:hover .para2 {
                            background-color: white;
                            color: black;
                          }
                          .para2-container:hover .pale-text-rotated {
                            transform: rotate(90deg) translateY(-25vh);
                          }
                          .pale-text-rotated {
                            transform: rotate(90deg) translateY(-10vh);
                            transform-origin: left;
                            font-size: 6vh;
                            display: inline-block;
                            margin-bottom: -2vh;
                            white-space: nowrap;
                            transition: .5s;

                          }
                          .para2 {
                            transform: translateY(-9vh);
                            margin-top: -6vh;
                            font-size: 1.6vh;
                            display: inline-flex;
                            background-color: transparent;
                            transition: .5s;
                            cursor: pointer;
                            color: transparent;
                          }
                          .para1:hover {
                            background-color: white;
                            color: black;
                          }

                          #container {
                            perspective: 30px;
                            display: inline-block;
                          }

                          #inner {
                            margin-left: 10vh;
                            margin-top: -1vh;
                            position: absolute;
                            transition: transform 0.5s;
                            -webkit-transition: transform 0.5s;
                          }
                          .pale-image-bottom {
                            height: 50vh;

                          }
                          .text-in-container {

                            pointer-events: none;
                            position: absolute;

                            margin-top: -51vh;
                            margin-left: 68vh;
                          }
                          .text-in {
                            overflow: hidden;
                            color: lightblue;
                            margin-left: 10vh;
                            width: 40vh;

                          }
                          .text-inside {
                            transition: 1s;
                            transform: translateX(-40vh);
                          }
                          .text-inside2 {
                            transition: 1s;
                            transform: translateX(0vh);
                            font-weight: bold;
                            font-size: 4vh;
                          }
                          .sagan-speech {
                              display: inline-block;
                              text-align: right;
                              width: 100%;
                              margin-top: -4vh;
                              transform: rotate(90deg) translateY(5vh);
                              transform-origin: right;
                              font-size: 6vh;

                          }

                          .sagan {
                            font-size: 6vh;
                            white-space: nowrap;
                            display: inline-block;
                            vertical-align: bottom;
                            margin-left: 20vh;
                            margin-right: 0vh;
                            margin-bottom: -2vh;
                            transition: .5s;
                          }
                          .sagan-click {
                            display: inline-block;
                            font-size: 1.5vh;
                            vertical-align: bottom;
                            margin-bottom: 1vh;
                            transition: 1s;
                          }
                          .sagan-wrapper {
                            display: inline-block;
                            vertical-align: bottom;
                            overflow: hidden;
                          }
                          .bars-container {
                            display: inline-block;
                            cursor: pointer;
                            height: 30px;
                            width: 40px;
                            vertical-align: bottom;
                            transition: .5s;
                          }
                          .bars-container:hover {
                            filter: saturate(1000%);
                          }
                          #bars {
                              height: 30px;
                              position: relative;
                              animation: pulseBars 1s infinite linear alternate;
                          }
                          @keyframes pulseBars {
                            0% {
                              filter: brightness(50%);
                            }
                            100% {
                              filter: brightness(100%);
                            }
                          }

                          @keyframes sound {
                              0% {
                                 opacity: .35;
                                  height: 3px;
                              }
                              100% {
                                  opacity: 1;
                                  height: 28px;
                              }
                          }

                          .bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
                          .bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
                          .bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
                          .bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
                          .bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
                          .bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
                          .bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
                          .bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
                          .bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
                          .bar:nth-child(10) { left: 37px; animation-duration: 442ms; }

.slide2 {
  width: 6vh;
  height: 100%;
  padding-left: 5vh;
  overflow: hidden;
  display: inline-block;
}
                            .text-wrapper-container {
                              margin-left: 5vh;
                              transform: rotate(90deg);
                              transform-origin: top left;
                              width: 96vh;
                              height: 6vh;
                              overflow: hidden;
                              white-space: nowrap;
                            }
                              .text-wrapper {
                                font-size: 4.28vh;
                                animation: textMove;
                                animation-duration: 4s;
                                animation-timing-function: linear;
                                animation-iteration-count: infinite;
                                animation-play-state: running;
                                white-space: nowrap;
                                transition: .2s;
                              }
                              .text-wrapper:hover {
                                animation-play-state: paused;
                                color: #42f4d7;

                              }
                              @keyframes textMove {
                                100% {
                                  transform: translateX(-139vh);
                                }
                              }

    .slide3 {
      width: 120vh;
      height: 100%;
      padding-left: 3vh;
      padding-right: 3vh;
      overflow: hidden;
      display: inline-block;
      border-left: .4vh solid white;
      border-right: .4vh solid white;
    }
                                                      .slide3-container {
                                                        margin-top: 4vh;
                                                        width: 100%;
                                                        text-align: center;
                                                      }
                                                      .universe {
                                                        font-size: 5vh;
                                                      }
                                                      .universe-image {
                                                        transition: .5s;
                                                      }
                                                      .universe-image:hover {
                                                        filter: sepia(100%);
                                                      }
    .slide4 {
      width: 110vh;
      height: 100%;
      padding-left: 3vh;
      padding-right: 3vh;
      overflow: hidden;
      display: inline-block;
      border-right: .4vh solid white;
    }
                                                                    .outer {
                                                                      font-size: 3vh;
                                                                    }
                                                                    .alien-question {
                                                                      font-size: 7vh;
                                                                    }
                                                                    .alien {
                                                                      cursor: pointer;
                                                                      transition: .5s;
                                                                    }
                                                                    .alien:hover {
                                                                      filter: sepia(50%);
                                                                      transform: scale(1.5);
                                                                    }
                                                                    .slide4-container {
                                                                      margin-left: 0%;
                                                                      width: 100%;
                                                                      height: 100%;
                                                                      text-align: center;
                                                                      margin-top: 10vh;
                                                                      overflow: hidden;
                                                                      white-space: normal;
                                                                    }
                                                                    .box {
                                                                      width: 20vh;
                                                                      height: 10vh;
                                                                      line-height: 10vh;
                                                                      border-radius: 4px;
                                                                      color: #c8cae0;
                                                                      border: 1px solid #c8cae0;
                                                                      cursor: pointer;
                                                                      transition: .25s;
                                                                      display: inline-block;

                                                                    }
                                                                    .box.a {
                                                                      margin-right: 15vh;
                                                                      margin-top: 5vh;
                                                                    }
                                                                    .box:hover {
                                                                      box-shadow: 0 0 10px 5px green;
                                                                      background-color: green;
                                                                    }
                                                                    .box.b {
                                                                      margin-top: 5vh;
                                                                    }
    .slide5 {
      width: 60vh;
      height: 100%;
      padding-left: 3vh;
      padding-right: 3vh;
      overflow: hidden;
      display: inline-block;
      border-right: .4vh solid white;
    }

                                            .slide5-container {
                                              font-size: 2.15vh;
                                              margin-top: 2vh;
                                              height: 96vh;

                                            }
                                            table {
                                              display: inline-block;
                                              width: 100%;
                                              height: 96vh;
                                              margin-left: 0vw;
                                              animation: moveUp 7s linear infinite;
                                            }
                                            @keyframes moveUp {
                                              100% {
                                                transform: translateY(-98vh);
                                              }
                                            }
                                            tr {
                                              height: 19.2vh;
                                              text-align: center;
                                            }
                                            td {
                                            }
                                            img#slide5 {
                                              height: 15vh;
                                              margin: -10vh 0 0 -15vh;
                                              position: absolute;
                                              z-index: -1;
                                              visibility: hidden;
                                              filter: brightness(80%);
                                            }
                                            .quote-name {
                                              font-size: 2vh;
                                              font-style: italic;
                                            }
.slide6 {
  width: 120vh;
  height: 100%;
  padding-left: 3vh;
  padding-right: 3vh;
  overflow: hidden;
  display: inline-block;
  border-right: .4vh solid white;
}
                        .climate-change-container {
                          width: 90%;
                          margin-top: 20vh;
                          margin-left: 5%;
                        }

                          .graph {
                            width: 90%;
                            margin-left: 5%;
                            position: relative;
                          }
                          .graph-temp {
                            text-align: center;
                            width: 90vh;
                            margin-left: 5vh;
                            position: absolute;
                            z-index: -1;
                            opacity: 0;
                            transition: .5s;
                            transform: translateY(-10vh) translateX(-90vh);
                          }
                          .climate-change-text {
                            font-size: 5vh;
                            margin-top: 2vh;
                            text-align: right;
                          }
                          .climate-change-text-small {
                            font-size: 2vh;
                          }
                          .global-temps {
                            display: inline-block;
                            cursor: pointer;
                            transition: .5s;
                          }
                          .global-temps:hover {
                            color: gray;
                          }
.slide7 {
  width: 140vh;
  height: 100%;
  padding-left: 3vh;
  padding-right: 3vh;
  overflow: hidden;
  display: inline-block;
  border-right: .4vh solid white;
}
                                        .book-container {
                                          width: 100%;
                                          margin-left: 0%;
                                          font-size: 7vh;
                                          margin-top: 35vh;
                                          text-align: center;
                                        }
                                        img#slide7 {
                                          position: relative;
                                          height: 20vh;
                                          z-index: -4;
                                        }
                                        .astrophysics-for {
                                          top: -41vh;
                                          left: 10vw;
                                          animation: move1 10s alternate infinite linear;

                                        }
                                        .sapiens {
                                          top: 0;
                                          left: 0;
                                          animation: move2 10s alternate infinite linear;

                                        }
                                        .do-androids {
                                          top: 10vh;
                                          left: 40vw;
                                          animation: move3 10s alternate infinite linear;

                                        }
                                        .the-elegant {
                                          top: -45vh;
                                          left: 35vw;
                                          animation: move4 10s alternate infinite linear;

                                        }
                                        .fahrenheit-451 {
                                          top: 10vh;
                                          left: 5vw;
                                          animation: move5 10s alternate infinite linear;
                                        }
                                        @keyframes move1 {
                                          100% {
                                            transform: translateY(20px) translateX(20px);
                                          }
                                        }
                                        @keyframes move2 {
                                          100% {
                                            transform: translateY(-25px) translateX(-20px);
                                          }
                                        }
                                        @keyframes move3 {
                                          100% {
                                            transform: translateY(15px) translateX(10px);
                                          }
                                        }
                                        @keyframes move4 {
                                          100% {
                                            transform: translateY(25px) translateX(20px);
                                          }
                                        }
                                        @keyframes move5 {
                                          100% {
                                            transform: translateY(22px) translateX(-20px);
                                          }
                                        }
                                        @keyframes move6 {
                                          100% {
                                            transform: translateY(2px) translateX(20px);
                                          }
                                        }
                                        .overall {
                                          filter: grayscale(0%);
                                        }

.slide8 {
  width: 60vh;
  height: 100%;
  padding-left: 3vh;
  padding-right: 3vh;
  overflow: hidden;
  display: inline-block;
  border-right: .4vh solid white;
}

.questions-container {
  width: 150vh;
  height: 100%;
  overflow: hidden;
  padding-left: 3vh;
  display: inline-block;
}
                                        .questions {
                                          height: 100%;
                                        }
                                        .question-heading {
                                          font-size: 5vh;
                                          margin-bottom: 10vh;
                                          position: relative;
                                        }
                                        .central-question-heading {
                                          transition: 2s;
                                          font-size: 10vh;
                                          top: 50%;
                                          transform: translateY(-50%);
                                        }
                                        .question {
                                          font-size: 8vh;
                                          opacity: 0.5;
                                          margin-bottom: 70vh;
                                          transition: opacity 0.3s;
                                          position: relative;
                                        }

                                        .question:hover {
                                          opacity: 1;
                                        }
                                        .smqb, .replay-btn {
                                          position: relative;
                                          top: -35vh;
                                          left: 80%;
                                          font-size: 4vh;
                                          padding: .5vh;
                                          transition: background-color .5s;
                                          width: 8em;
                                        }
                                        .smqb:hover, .replay-btn:hover {
                                          cursor: pointer;
                                          background-color: rgb(100,100,200);
                                        }
                                        .smqb .down-triangle {
                                          border-left: .3vh solid white;
                                          border-bottom: .3vh solid white;
                                          width: 2.5vh;
                                          height: 2.5vh;
                                          display: inline-block;
                                          transform: translateY(-.5vh) rotate(-45deg);
                                          animation: arrow-bounce 1s infinite;
                                        }
                                        .replay-btn {
                                          opacity: 0;
                                          display: none;
                                        }
                                        @keyframes arrow-bounce {
                                          0% {
                                            transform: translateY(-.5vh) rotate(-45deg);
                                          }
                                          50% {
                                            transform: translateY(-1vh) rotate(-45deg);
                                          }
                                          100% {
                                            transform: translateY(-.5vh) rotate(-45deg);
                                          }
                                        }
                                        .fadeaway {
                                          transition: 1s;
                                          opacity: 0;
                                        }
                                        .fadein {
                                          transition: 1s;
                                          opacity: 1;
                                          top: -50vh;
                                        }0
